.specials {
    display: grid;
    grid-template-rows: auto;
    gap: 2rem;
}

.specials-header {
    display: grid;
    grid-template-columns: 84% 16%;
    margin: 2rem 0;
}

.specials-header h2 {
    font-family: var(--text-font);
    font-size: var(--display-regular-size);
    font-weight: var(--title-display-weight);
}

.specials-header a {
    font-size: var(--section-category-size);
    font-family: var(--text-font);
    font-weight: var(--section-category-weight);
}

.specials-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.specials-card img {
    width: 100%;
    height: 184px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.specials-card .description {
    background-color: var(--color-secondary-light-grey);
    padding: 1.5rem;
}

.specials-card .description .item {
    display: grid;
    grid-template-columns: 75% 25%;
    margin-bottom: 1.5rem;
    font-family: var(--text-font);
}

.specials-card .description .item h4:nth-child(2) {
    color: var(--color-secondary-orange);
}

.specials-card .description p {
    font-family: var(--text-font);
    font-size: var(--paragraph-text-size);
    line-height: var(--paragraph-line-height);
    font-weight: var(--paragraph-text-weight);
    color: var(--color-primary-green);
    height: 160px;
}

.specials-card .description .order {
    display: grid;
    grid-template-columns: 60% 40%;
}

.specials-card .description .order * {
    font-family: var(--text-font);
    font-size: var(--paragraph-text-size);
    font-weight: var(--card-title-weight);
    color: var(--color-secondary-dark-grey);
}


.testimonials {
    background-color: var(--color-secondary-light-grey);
    margin-top: 2rem;
}
.testimonials-container  {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.testimonials-container h1 {
    margin: 3rem auto;
    font-family: var(--title-font);
    font-size: var(--display-regular-size);
    font-weight: var(--title-display-weight);
    color: var(--color-secondary-dark-grey);
}

.ratings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.rating {
    background-color: var(--color-light);
    padding: 1.5rem 1rem;
}

.stars {
    color: var(--color-primary-yellow);
}
.avatar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0.5rem 0;
}

.avatar img {
    border-radius: 10px;
}

.avatar h5 {
    margin: auto 0;
    font-family: var(--title-font);
    font-size: var(--paragraph-text-size);
    font-weight: var(--card-title-weight);
}

.rating p {
    font-family: var(--text-font);
    font-size: 14px;
    font-weight: var(--paragraph-text-weight);
    line-height: var(--paragraph-line-height);
}

.about {
    background-color: var(--color-secondary-orange);
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    height: 65vh;
}

.about-description h1 {
    font-family: var(--text-font);
    font-size: var(--title-display-size);
    color: var(--color-primary-yellow);
    font-weight: var(--section-title-weight);
}

.about-description h5 {
    font-family: var(--text-font);
    font-size: var(--highlight-text-size);
    color: var(--color-secondary-light-grey);
    font-weight: var(--section-title-weight);
    margin-left: 5px;
}

.about-description p {
    margin-left: 5px;
    padding: 25px 0;
    max-width: 40ch;
    font-family: var(--text-font);
    font-size: var(--text-lead-size);
    color: var(--color-secondary-light-grey);
    font-weight: var(--display-regular-weight);
}

.about-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-images img {
    width: 100%;
    border-radius: 15px;
}

.about-images img:first-child {
    position: relative;
    bottom: -5rem;
    right: -5rem;
    z-index: 1;
}

.about-images img:nth-child(2) {
    z-index: 2;
}
@media screen and (max-width: 1024px) {
    .about-container {
        height: 65vh;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 912px) {
    .specials-card .description .order {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    .testimonials-container  {
        height: fit-content;
        padding-bottom: 2rem;
    }
    .about-container {
        height: fit-content;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 820px) {
    .specials-header {
        display: grid;
        grid-template-columns: 78% 12%;
        margin: 2rem 0;
    }

    .specials-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .specials-card .description .item h4:first-child {
        font-size: 14px;
    }

    .specials-card .description p {
        font-size: 14px;
    }

    .specials-card .description .order {
        display: grid;
        grid-template-columns: 60% 40%;
    }
    
    .specials-card .description .order * {
        font-family: var(--text-font);
        font-size: var(--paragraph-text-size);
        font-weight: var(--card-title-weight);
        color: var(--color-secondary-dark-grey);
    }
    
}

@media screen and (max-width: 768px) {
    .specials-header {
        grid-template-columns: 75% 25%;
    }
    .specials-cards {
        grid-template-columns: none;
    }
    .specials-card img {
        height: 300px;
    }
    .specials-card .description .item {
        grid-template-columns: 90% 10%;
    }
    .specials-card .description p {
        height: fit-content;
    }
    .specials-card .description .order {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    .testimonials-container  {
        height: fit-content;
        padding-bottom: 2rem;
    }
    .ratings {
        grid-template-columns:none;
    }
    .stars {
        font-size: 2rem;
    }
    .avatar {
        grid-template-columns: 30% 70%;
    }
    .about-container {
        height: 45vh;
    }
}

@media screen and (max-width:540px) {
    .about-container {
        grid-template-columns: none;
        gap: 1rem;
        height: fit-content;
        padding-bottom: 2rem;
    }
    .about-description h1 {
        font-size: var(--sub-title-size);
    }
    .about-images {
        gap: 1rem;
    }
    .about-images img:first-child {
        position: relative;
        bottom: 0rem;
        right: 0rem;
    }
}


@media screen and (max-width: 480px) {
    .specials-header {
        grid-template-columns: 60% 40%;
    }

    .about-container {
        grid-template-columns: none;
        gap: 1rem;
        height: fit-content;
        padding-bottom: 2rem;
    }
    .about-description h1 {
        font-size: var(--sub-title-size);
    }
    .about-images {
        gap: 1rem;
    }
    .about-images img:first-child {
        position: relative;
        bottom: 0rem;
        right: 0rem;
    }
}

@media screen and (max-width:280px) {
    .specials-header {
        grid-template-columns: 60% 25%;
    }

    .specials-header h2 {
        font-size: 1.3rem;
    }

    .specials-header a {
        font-size: 0.5rem;
    }

    .specials-cards {
        grid-template-columns: none;
    }
    .specials-card img {
        height: 300px;
    }
    .specials-card .description .item {
        grid-template-columns: 80% 20%;
    }
    .specials-card .description p {
        height: fit-content;
    }
    .specials-card .description .order {
        margin-top: 10px;
    }
}