/* hero header section */
header {
    background-color: var(--color-primary-green);
}

.hero {
    display: grid;
    grid-template-columns: 60% 25%;
    grid-gap: 15%;
}

.hero-infos h1 {
    font-family: var(--text-font);
    font-size: var(--title-display-size);
    color: var(--color-primary-yellow);
    font-weight: var(--section-title-weight);
}

.hero-infos h5 {
    font-family: var(--text-font);
    font-size: var(--highlight-text-size);
    color: var(--color-secondary-light-grey);
    font-weight: var(--section-title-weight);
    margin-left: 5px;
}

.hero-infos p {
    margin-left: 5px;
    padding: 25px 0;
    max-width: 40ch;
    font-family: var(--text-font);
    font-size: var(--text-lead-size);
    color: var(--color-secondary-light-grey);
    font-weight: var(--display-regular-weight);
}

.hero-infos a {
    font-size: var(--section-category-size);
    font-family: var(--text-font);
    font-weight: var(--section-category-weight);
}

.hero-image img {
    border-radius: 15px;
    position: relative;
    bottom: -2rem;
}

@media screen and (max-width: 768px) {
    .hero {
        grid-template-columns: 50% 35%;
    }
    .hero-infos h1 {
        font-size: 50px;
    }
    .hero-infos p {
        font-size: var(--paragraph-text-size);
    }
    .hero-image img {
        bottom: -1.5rem;
    }
}

@media screen and (max-width:540px) {
    .hero {
        grid-template-columns: none;
        gap: 1rem;
    }
    .hero-image img {
        bottom: -3rem;
    }
}

@media screen and (max-width: 480px) {
    .hero {
        grid-template-columns: none;
        gap: 1rem;
    }
    .hero-image img {
        bottom: -3rem;
    }
}

